.cards_grid {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1199px) {
    .cards_grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 767px) {
    .cards_grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 575px) {
    .cards_grid {
        grid-template-columns: 1fr;
    }
}